#img1{
    width: 30%;
    height: 10%;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
body{
    line-height: 25px;
    border: solid 2px blue ;
}

.para2{
    margin-left: 10px;
    margin-right: 0px;
}

.para3{
    margin-top: 40px;
    
    width: 1050px;
    float: left;
    display: inline;
    
}

#img3{
    /*margin-left: 70%;*/
    width: 400px;
    float: right;
    margin-right: 10px;
    
    display: inline;
}