body{
    size: 24px;
}
#first{
    background-color: beige;
    color: blueviolet;
}
.one{
    color: cadetblue;
}

.highlight{
    background-color: yellow;
    font-style: italic;
}

p:hover
{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}